@font-face {
	font-family: Lora;
	src: url(../fonts/Lora-Regular.ttf);
    font-style: normal;
    font-weight: normal;
}

@font-face {
	font-family: 'PT Sans';
	src: url(../fonts/PT_Sans-Web-Bold.ttf);
    font-style: normal;
    font-weight: bold;
}
